<h5>Tweets</h5>
<div class="row">
    {{#each tweets}}
    <div class="col s20 m4">
        <div class="card">
            <div class="card-image">
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card-content center-align">
                <div class="chip">
                    <img src="{{user.image}}" alt="">
                    <a href="/tweets/user/{{user._id}}">{{user.displayName}}</a>
                </div>
                <p>{{body}}</p>
            </div>
        </div>
    </div>
    {{else}}
        <p>No tweets to display</p>
    {{/each}}
</div>